.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h3 a {
  text-decoration: underline;
  color: #3c40c6;
}
